body {
    font-family: 'Century Gothic', sans-serif;
    color: #479147;
    background-color: #f0fff0; /* Jasnozielony */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column; /* Zmiana na kolumnowy layout */
    max-width: 700px; /* Dodanie maksymalnej szerokości */
    margin: 0 auto; /* Wyśrodkowanie */
}

.left-column,
.right-column {
    width: 320px; /* Stała szerokość kolumn */
    padding: 10px;
}

@media (min-width: 700px) {
    .container {
        flex-direction: row;
    }

    .left-column {
        flex: 1;
        padding-right: 10px; /* Ustalenie odstępu między kolumnami na szerokość litery "m" */
    }

    .right-column {
        flex: 1;
        padding-left: 10px; /* Ustalenie odstępu między kolumnami na szerokość litery "m" */
        margin-left: 0; /* Usunięcie marginesu lewego na większych ekranach */
    }
}

.panel {
    background-color: #ffffff; /* Biały */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #479147; /* Dodanie zielonej ramki */
    margin-right: 1em; /* Oddzielenie paneli na szerokość litery "m" */
}

.panel h2 {
    text-align: center;
}

.panel ul {
    list-style: none;
    padding: 0;
}

.panel li::before {
    content: "•"; /* Dodanie kropki przed każdym elementem listy */
    color: #479147; /* Kolor kropki */
    margin-right: 5px; /* Margines między kropką a tekstem */
}

.doctors-container {
    border: 2px solid #479147; /* Dodanie ramki dla kontenera lekarzy */
    border-radius: 5px; /* Zaokrąglenie rogów ramki */
    padding: 10px; /* Dodanie wewnętrznego marginesu */
    margin-top: 10px; /* Dodanie odstępu między panelem "Twoi Lekarze" a lekarzami */
}

.doctor {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid #479147; /* Dodanie krawędzi wokół zdjęć */
    border-radius: 5px; /* Lekko zaokrąglone krawędzie */
    padding: 10px; /* Margines wewnętrzny dla zdjęć */
}

.doctor img {
    width: 70%; /* Zmniejszenie szerokości obrazków */
    border-radius: 5px;
}

.doctor figcaption {
    margin-top: 10px;
}

.doctor blockquote::before {
    content: "—"; /* Dodanie szerokiego myślnika przed cytatem */
    margin-right: 5px; /* Margines między myślnikiem a cytatem */
}

.doctor p {
    margin-top: 5px;
    font-size: 14px;
}

.panel table {
    width: 100%; /* Szerokość tabeli */
}

.panel table td {
    padding: 5px; /* Wewnętrzny margines komórek */
}

.panel table label {
    font-weight: bold; /* Pogrubienie etykiet */
}

.panel table input[type="text"],
.panel table input[type="email"],
.panel table input[type="tel"],
.panel table input[type="date"] {
    width: 100%; /* Szerokość pól tekstowych */
    box-sizing: border-box; /* Włączenie box-sizing, aby padding i border nie dodawały się do szerokości */
}

.panel table input[type="checkbox"] {
    margin-right: 5px; /* Margines prawy od checkboxa */
}
